.news-search{
    background-image: url(../../../assets/anonymous-2755365_960_720.jpg);
    /* Full height */
    height: 100vh;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.searchToolbar{
  width:60vw;
}

.searchToolbarInput{
  background: white;
  color: #000;
}

.toolbar-spacer{
  flex: 1 1 auto;
}
