<div class="news-search">
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <h1 class="page-header">
      {{ title }}
    </h1>
    <img width="200px" alt="Logo" src="../assets/Wayne.png">
    <!-- <h4> You can search Hacker News from here.</h4> -->
  
    <mat-form-field class="searchToolbar">
      <mat-toolbar color="primary">
        <input matInput class="searchToolbarInput" type="text" [(ngModel)]="searchQuery" (keyup.enter)="searchNews()">
        <button mat-button *ngIf="searchQuery" matSuffix mat-icon-button aria-label="Clear" (click)="searchQuery=''; newsList=[]">
          <mat-icon>close</mat-icon>
        </button>
        <button mat-button [disabled]="!searchQuery" matSuffix mat-icon-button aria-label="Search" (click)="searchNews()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-toolbar>
    </mat-form-field>
  
    <div *ngIf="newsList && newsList.length > 0 && displayURL">
      
      <app-news-reader [newsURL]="displayURL" [index]="index" [totalNews]="newsList.length" (URLChanged)="changeURL($event)"></app-news-reader>
  
    </div>
  
  </div>
  
  <div *ngIf="loading" class="loading">
    <mat-spinner></mat-spinner>
  </div>
</div>