
<div fxLayout="column" fxLayoutGap="20px" fxLayoutAlign="space-around center" style="margin-bottom: 20px;">
    <iframe style="width:60vw; height:60vh; background-color: white" [src]="fetchedHtml"></iframe>
    <div style="width:60vw; background-color: white" fxLayout="row" fxLayoutAlign="space-around center">
        <button mat-raised-button class="btn" (click)="backURL()" [disabled]="index===0" matTooltip="Previous News">
            Previous
        </button>
        <span style="color:rgb(13, 52, 228); font-size: 1.5em;">
            Page {{index + 1}} of {{totalNews}}
        </span>
        <button mat-raised-button class="btn" (click)="nextURL()" [disabled]="index === totalNews-1" matTooltip="Next News">
            Next
        </button>
    </div>
</div>